@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
html {
    height: 100%
}
body {
    height: 100%;
    background-color: rgb(237, 145, 145);
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    /* font-family: lakeshor; */
    font-family: 'Brush Script MT', cursive;
    color: #80043b;
    background-image: linear-gradient(white,rgb(237, 145, 145),rgb(201, 43, 43), brown);
    
   
}
h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    margin-right: 1vh;
    margin-top: 1vh;
}
.details-image {
    width: 60vw;
    height: 50vw;
    border-radius: 25%;
    border: solid 2px red;
    
}
.details-title {
    display: block;
    font-family: 'Brush Script MT', cursive;
    /* background-color: aliceblue; */
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    /* max-height: 37vh; */
   
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;
    width: 150px;
}
.thumbnails-item {
    border: solid 1.5px red;
    margin-top: 2vh;
    margin-right: 10%;
    border-radius: 25%;
    overflow: hidden;
    width: 80%;
    /* margin-left: 0.5vh; */
    position: relative;
   
}
.thumbnails-anchor {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.thumbnails-image {
    width: 25vw;
    height: 15vw;
    display: block;
    transform: scale(1.2);
}
.thumbnails-title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 75%;
    width: 100%;
    padding: 5% 0px 4% 0px;
    text-align: center;
    background-color:rgb(226, 72, 72); 
    color: rgb(253, 251, 251);
    font-family: 'Brush Script MT', cursive;
    position: absolute;
    font-size: 80%;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(79, 4, 5), 0 0 5px darkblue;
    
}
audio{
    height: 10px;
    width: 100%;
    background-color: rgb(237, 145, 145);
    mix-blend-mode: luminosity;
}
@media (min-width: 650px) and (max-width: 1300px) {
    
    .main-class {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    .thumbnails-list {
        order: 1;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 100vh;
        justify-content: flex-start;
        width: 40%;
        margin-left: 5%;
        overflow-y: scroll;
    }
    .thumbnails-item {
        min-height: 18vw;
        width: 80%;
    }
    .thumbnails-title {
        height: 3vw;
        font-size: 150%;
    }
    .details-container{
        width: 40%;
        order: 2;
        margin-right: 20%;
        display: flex;
        
    }
    .details-image{
    width: 50vw;
    height: 35vw;
    margin-left: 30%;
    }
    .details-title{
        margin-left: 25%;
    }
    span{
        font-size: 100%;
    }

}
@media (min-width: 300px) and (max-width: 500px) {
.main-class {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.details-container {
display: flex;
flex-direction: row; 
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: 100%; 
margin-bottom: 0;
}
.details-image {
width: 90%;
height: 100%; 
justify-content: center;
flex-wrap: wrap;
margin-left: 5%;
margin-right: 5%;

}

section>img {
    width: 100%;
   
    background-size: 50%;
} 
 .thumbnails-list {

    display: flex;
    flex-wrap: wrap;
     width: 100%;
    /* max-height: 37vh; */
    list-style: none;
}
.thumbnails-item{
 height: 30%;
 width: 30%;
 margin-right: 0;
} 

.thumbnails-title{
    top: 110%;
    width: 100%; 
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 2px;
    position: absolute;
}
.thumbnails-anchor{
    position: relative;
}
main{
    margin-bottom: 5%;
}
}
@media (width: 375px){
    .thumbnails-title{
top: 80%;
    }
}
