@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}
html {
    height: 100%
}
body {
    height: 100%;
    background-color: rgb(237, 145, 145);
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow: hidden;
    --var-px: 10px;
    --var-percent: 10%;
}
.logo {
    display: block;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Brush Script MT', cursive;
    color: #80043b;
    background-image: linear-gradient(0.25turn, white,rgb(237, 145, 145),rgb(201, 43, 43), brown);
}
h2 {
    margin-top: var(--var-px);
    margin-bottom: var(--var-px);
    
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2vh;
    margin-right: 1vh;
    margin-top: 1vh;
    position: relative;
}
.details-frame {
    position: relative;
}
.details-image {
    width: 60vw;
    height: 50vw;
    border-radius: 25%;
    border: solid 2px red;
    
}

.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
    margin-top: 3vh;
   
}
.thumbnails-item {
    border: solid 1.5px red;
    margin-top: 2vh;
    margin-right: 10%;
    border-radius: 25%;
    overflow: hidden;
    width: 80%;
    /* margin-left: 0.5vh; */
    position: relative;
   
}
.thumbnails-anchor {
    text-decoration: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.thumbnails-image {
    width: 25vw;
    height: 15vw;
    display: block;
    transform: scale(1.2);
}
.thumbnails-title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    top: 75%;
    width: 100%;
    padding: 5% 0px 4% 0px;
    text-align: center;
    background-color:rgb(226, 72, 72); 
    color: rgb(253, 251, 251);
    font-family: 'Brush Script MT', cursive;
    position: absolute;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(79, 4, 5), 0 0 5px darkblue;
    
}
audio{
    height: var(--var-margine);
    width: 100%;
    background-color: rgb(237, 145, 145);
    mix-blend-mode: luminosity;
    

}
@media (min-width: 650px) and (max-width: 1300px) {
    
    .main-class {
        flex-direction: row;
        display: flex;
        justify-content:center;
    }
    .thumbnails-list {
        order: 1;
        flex-direction: row;
        flex-wrap: wrap;
        max-height: 110vh;
        justify-content: flex-start;
        width: calc(var(--var-percent)*5);
        padding-left: 3%; 
        overflow-y: scroll;
        font-weight: calc(var(--var-percent)*10);
        text-shadow: 1px 1px 2px black, 0 0 25px rgb(79, 4, 5), 0 0 5px darkblue;
    }
    .thumbnails-item {
        min-height: 18vw;
        width: calc(var(--var-percent)*8);
        transition: 1s;
    }
    .thumbnails-item:hover{
        transform: scale(1.1);  
    }
    .thumbnails-title {
        height: 2vw;
        
    }
    .details-container{
        width: calc(var(--var-percent)*4);
        order: 2;
        margin-right: 20%;
        display: flex;
        
    }
    .details-image{
    width: 50vw;
    height: 35vw;
    margin-left: 20%;
    }
   
    .details-title {
        display: block;
        background-color: aliceblue;
        font-family: 'Brush Script MT', cursive;
        font-weight: 1000;
        font-size: x-large;
        position: absolute;
        bottom: 3.5vh;
        left: 15vw;
    }
    span{
        font-size: calc(var(--var-percent)*11);
    }

}
@media (min-width: 300px) and (max-width: 500px) {
.main-class {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.details-container {
display: flex;
flex-direction: row; 
align-items: center;
justify-content: center;
flex-wrap: wrap;
width: calc(var(--var-percent)*10); 
margin-bottom: 0;
}
.details-image {
width: calc(var(--var-percent)*9); 
height: calc(var(--var-percent)*10); 
justify-content: center;
flex-wrap: wrap;
margin-left: 5%;
margin-right: 5%;

}

section>img {
    width: calc(var(--var-percent)*10); 
    background-size: 50%;
} 
 .thumbnails-list {

    display: flex;
    flex-wrap: wrap;
    width: calc(var(--var-percent)*10); 
    list-style: none;
}
.thumbnails-item{
 height: calc(var(--var-percent)*3); 
 width: calc(var(--var-percent)*3); 
 margin-right: 0;
 transition: 1s;

} 
.thumbnails-item:hover{
    transform: scale(1.2);
}
    


.thumbnails-title{
    top: 110%;
    width: calc(var(--var-percent)*10); 
    font-size: calc(var(--var-px)*2);
    padding-bottom: calc(var(--var-px)*2);
    padding-top: calc(var(--var-px)/5);
    position: absolute;
}
.thumbnails-anchor{
    position: relative;
}
main{
    margin-bottom: 5%;
}
.details-title{
    display: block;
    background-color: aliceblue;
    font-family: 'Brush Script MT', cursive;
    position: absolute;
    bottom: 2vh;
    left: 10vw;
}

}
@media (width: 375px){
    .thumbnails-title{
top: 80%;
    }
    
}
