html{
    height: 100%;
}
.main-class{
    display: flex;
    flex-direction: column;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details-image{
    width: 100vw;
    height: 70vw;
}
.details-title{
    display: block;
}
.thumbnails-list{
    display: flex;
    flex-wrap: wrap;
    max-height: 60vw;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
}

header{
    background-image: linear-gradient(white,rgb(237, 145, 145),rgb(201, 43, 43), brown);
    padding: 0;
    margin: 0;
    height: 50px;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.logo{
    display: block;
    text-align: center;
    font-size: 1.5 em;
    text-transform: uppercase;
}
/* *{
    padding: 0;
    margin: 0;  
} */
/* h2{
    transform:translateX(-25%); 
     
} */
section>img{
    width: 100%;
    overflow: hidden;
    background-size: 50%;
    /* transform:translateX(-10%); */
}
section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* transform:translateX(-10%); */
    
}
section>span{
    font-size:x-large;
    color: black;
}
ul{
    display: flex;
    flex-wrap: wrap;
    background-color:rgb(237, 145, 145); 
}
li{
    width: 25%;
    margin: 2%;
    list-style-type: none;
    
}
.thumbnails-image{
    /* width:110%;
    height: 90px; */
    width: 27vw;
    height: 20vw;
    border-radius: 15px;
}
.thumbnails-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.thumbnails-item{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}
.thumbnails-title{
    position: absolute;
    /* z-index: 1; */
    text-align: center;
    display: block;
    background-color: rgb(201, 43, 43);
    color: aliceblue;
    width: 107%;
    top: 78%;
    left: 54%;
    transform: translateX(-50%);
    opacity: 100%;
    border-radius: 0px 0px 15px 15px;
}
a{
    width: 100%;
}
body{
    /* height: 250%;  */
    background-color: rgb(237, 145, 145);
    display: flex;
    flex-direction: column;
    margin: 0;
}
