
table{
    border-collapse: collapse; 
}
tr:nth-child(2n)>td:nth-child(2n){
    background: black;
}
tr:nth-child(2n-1)>td:nth-child(2n-1){
    background: black;
    border: none;
}
tr:nth-child(1)>td:nth-child(n){
    background: white;
    border: none;
    text-align: center; vertical-align: bottom;
}
tr:nth-child(10)>td:nth-child(n){
    background: white;
    border: none; 
    text-align: center; vertical-align: top;
}
tr:nth-child(n)>td:nth-child(1){
    background: white;
    border: none;
    display: flex;justify-content: right;align-items: center;
}
tr:nth-child(n)>td:nth-child(10){
    background: white;
    border: none;
}
td{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    transition: 1s;
}
#table{
display: flex;justify-content: center;
}
td:hover{
    box-shadow: inset 10px 10px 20px red; 
    /* transform: scale(1.2); */
    
}
